In [1]:
import numpy as np
#sample data
math = np.array([78,92,85,61,72,95,88,54,67,100])
science = np.array([85,88,72,91,60,79,100,68,54,82])
english=np.array([70,95,81,58,90,63,77,86,92,74])

In [2]:
print("Math avg:",np.mean(math))
print("Science avg:",np.mean(science))
print("English avg:",np.mean(english))

Math avg: 79.2
Science avg: 77.9
English avg: 78.6

In [3]:
mathHighest,mathLowest = np.max(math),np.min(math)
scienceHighest,scienceLowest = np.max(science),np.min(science)
englishHighest,englishLowest = np.max(english),np.min(english)
print("Math min and max:",mathHighest,mathLowest)
print("Science min and max:",scienceHighest,scienceLowest)
print("English min and max:",englishHighest,englishLowest)

Math min and max: 100 54
Science min and max: 100 54
English min and max: 95 58

In [9]:
overAllStd=len(math);
mathPass = np.sum(math>=70)
mathFail = (overAllStd - mathPass)
sciencePass  = np.sum(science>=70)
scienceFail = (overAllStd - sciencePass)
englishPass  = np.sum(english>=70)
englishFail = (overAllStd - englishPass)
print("Count of Pass and Fail in math:",mathPass,mathFail)
print("Count of Pass and Fail in science:",sciencePass,scienceFail)
print("Count of Pass and Fail int english:",englishPass,englishFail)

Count of Pass and Fail in math: 7 3
Count of Pass and Fail in science: 7 3
Count of Pass and Fail int english: 8 2

In [13]:
overAllRes = np.sum((math>=70) & (science>=70) & (english>=70))

print("Total pass:",overAllRes);
print("Total fail:",overAllStd - overAllRes);

Total pass: 5
Total fail: 5

In [16]:
performance=np.empty(len(math),dtype=str);
print(performance);

['' '' '' '' '' '' '' '' '' '']

In [23]:
def assignGrade(i,avg,per):
  if avg >= 90:
    per[i] = 'A'
  elif avg >= 80 and avg < 90:
    per[i] = 'B'
  elif avg >= 70 and avg < 80:
    per[i] = 'C'
  else:
    per[i] = 'F'

In [18]:
overAllAvg = np.round((math+science+english)/3,2);
print(overAllAvg);

[77.67 91.67 79.33 70.   74.   79.   88.33 69.33 71.   85.33]

In [24]:
for i,val in enumerate(overAllAvg):
  assignGrade(i,val,performance)
print(performance)

['C' 'A' 'C' 'C' 'C' 'C' 'B' 'F' 'C' 'B']