In [1]:
import pandas as pd
print(pd.__version__)

2.2.3

In [4]:
#Loading and storing datasets 
#Method 1: From Dictionary
data ={
    "Name":["Ali","Hassan","Imran","Danish"],
    "Age":[21,22,21,23],
    "CGPA":[3.88,3.87,3.89,3.90]
}
print(data) #The json will be printed.
df = pd.DataFrame(data)
print(df)#table will be created.

{'Name': ['Ali', 'Hassan', 'Imran', 'Danish'], 'Age': [21, 22, 21, 23], 'CGPA': [3.88, 3.87, 3.89, 3.9]}
     Name  Age  CGPA
0     Ali   21  3.88
1  Hassan   22  3.87
2   Imran   21  3.89
3  Danish   23  3.90

In [7]:
#Loading and storing datasets -- Contd.
#Method 2: From lists
names=["Alice","Bob","Charlie"]
ages=[20,21,23]
df_list=pd.DataFrame({
    "Name":names,
    "Age":ages
})
print(df_list)

      Name  Age
0    Alice   20
1      Bob   21
2  Charlie   23

In [11]:
# Loading external data
#can be loaded from csv,excel and sql.
#demo for excel
df_excel=pd.read_excel("Datasets /BSCS.xlsx");
print(df_excel)

   Unnamed: 0        Unnamed: 1                          Unnamed: 2  \
0         NaN               NaN                                 NaN
1         NaN               NaN                                 NaN
2         NaN               NaN                                 NaN
3         Sr.   Students Detail                                 NaN
4         NaN               NaN                                 CLO
5         NaN  Registration No.                               Name
6         NaN               NaN                                 NaN
7           1         232202001                    Malik Saad Naeem
8           2         232202002                          Hira Sajid
9           3         232202003              Muhammad Shahzeb Nawaz
10          4         232202004          Muhammad Tauseeq Ul Hassan
11          5         232202005                         Aymen Abbas
12          6         232202006                       Muhammad Saad
13          7         232202007               Muhammad Usman Shahid
14          8         232202008                         Rimsha Bibi
15          9         232202009                 Muhammad Adeel Abid
16         10         232202010                         Faiza Jamil
17         11         232202011                          Zoya Yasir
18         12         232202012                        Fiza Naureen
19         13         232202013                      Muhammad Umair
20         14         232202014                       Arfa Shahzadi
21         15         232202015                        Adeeba Afzal
22         16         232202016                     Muhammad Muneeb
23         17         232202017                       Hafsa Mahmood
24         18         232202018               Muhammad Maaz Hussain
25         19         232202020                          Hifza Bibi
26         20         232202021                 Syed Rayyan Hussain
27         21         232202022                     Muhammad Mohsin
28         22         232202023  Sardar Hafiz Muhammad Abdullah Jan
29         23         232202024                           Sher Bano
30         24         232202025                       Areesha Ahmed
31         25         232202027                      Alishba Arshad
32         26         232202028                         Wajeeha Naz
33         27         232202029                        Qurat-Ul-Ain
34         28         232202030                               Rehan
35         29         232202032                    Hurraira Shaheer
36         30         232202033                       Ayesha Arshad
37         31         232202035                      Muhammad Rehan
38         32         232202036               Muhammad Usman Haider
39         33         232202037                         Danish Aziz
40         34         232202038                         Unzla Ahmad
41         35         232202039                     Hasnat Ali Awan
42         36         232202040                      Maleeka Batool
43         37         232202041                Muhammad Bilal Malik
44         38         232202042                          Sufyan Ali
45         39         232202043                    Abdullah Rafique
46         40         232202044                         Samia Sajid
47         41         232202046            Hafiz Muhammad Hamza Ali
48         42         232202049                Minahil Shujah Satti
49         43         232202050                            Zoya Gul
50        NaN               NaN                                 NaN
51        NaN               NaN                                 NaN
52        NaN               NaN                          Instructor
53        NaN               NaN                            HOD (CS)
54        NaN               NaN                                 NaN
55        NaN               NaN                          CoE KICSIT

   Subject: Compiler Construction Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7  \
0                             NaN        NaN        NaN        NaN        NaN
1     Class: BSCS-V   Spring-2025        NaN        NaN        NaN        NaN
2                             NaN        NaN        NaN        NaN        NaN
3                         Quizzes        NaN        NaN        NaN        NaN
4                            CLO1       CLO1       CLO2       CLO2       CLO3
5                              Q1         Q2         Q3         Q4         Q5
6                              20         12         20         10         15
7                              16          6         20         10          0
8                              10          0         20          9          0
9                              14          0         20        9.5          0
10                             18        4.5         19          9         14
11                              0          0         20          4          0
12                             14          4          0          4          9
13                              0          0          8          0          0
14                             16          9         16          0          0
15                              0        4.5          0        9.5          0
16                             14        7.5       12.5          1       14.5
17                             18          0          0          5          0
18                             16          0         15         10          0
19                             16          5          4        7.5       14.5
20                             18          9          0          3        8.5
21                             10          5          0          2       10.5
22                             20          4          0          6          0
23                             12          7        8.5        3.5          5
24                             20          0          0          0          0
25                             18        6.5       18.5          5          0
26                             18          7         19          1          0
27                             18        9.5       12.5         10          0
28                             14          0          6          0          0
29                             10          0         20          0        6.5
30                             16          6          0          0       12.5
31                              8          8         20          1        8.5
32                             14        3.5          7          0          8
33                             10          6         12         10          0
34                             20          0       13.5        8.5          0
35                             18          0          0          0          0
36                             20          7         12        8.5          0
37                             14          4          2          0          0
38                             14          0        8.5          0          0
39                             20          1          0          0          0
40                             14          0          0          0          0
41                             16          5         14         10         13
42                             18          0          0          0       13.5
43                             14          0          6          5          0
44                             16          5          6          6          0
45                             18          5        5.5        5.5          7
46                             10        6.5          0          0          3
47                             16          1         16          1          5
48                             16          4         10          2          0
49                             18          6         19          2          0
50                      14.418605   3.639535   9.081395   3.918605    3.55814
51                            NaN        NaN        NaN        NaN        NaN
52                            NaN        NaN        NaN        NaN        NaN
53                            NaN        NaN        NaN        NaN        NaN
54                            NaN        NaN        NaN        NaN        NaN
55                            NaN        NaN        NaN        NaN        NaN

   Unnamed: 8 Unnamed: 9  ...  Unnamed: 21 Unnamed: 22 Unnamed: 23  \
0         NaN        NaN  ...          NaN         NaN         NaN
1         NaN        NaN  ...          NaN         NaN         NaN
2         NaN        NaN  ...          NaN         NaN         NaN
3         NaN        NaN  ...          NaN         NaN         NaN
4        CLO3        NaN  ...        OHT-2         NaN         NaN
5          Q6      Total  ...          NaN         NaN       Total
6          10         87  ...           30        0.15         0.3
7           3         55  ...           30       15.00        29.5
8         6.5       45.5  ...         29.5       14.75          27
9           9       52.5  ...         24.5       12.25       23.25
10         10       74.5  ...           30       15.00          30
11          0         24  ...           30       15.00       25.75
12          2         33  ...           27       13.50       21.25
13          3         11  ...           26       13.00       20.75
14          3         44  ...           26       13.00       20.75
15          3         17  ...         24.5       12.25          25
16          8       57.5  ...           26       13.00       20.75
17          5         28  ...         29.5       14.75       26.25
18          3         44  ...           30       15.00        27.5
19         10         57  ...           30       15.00          27
20          6       44.5  ...           25       12.50          20
21         10       37.5  ...           17        8.50        18.5
22          3         33  ...           29       14.50       23.75
23          5         41  ...           28       14.00        25.5
24          3         23  ...           26       13.00       20.75
25          3         51  ...         29.5       14.75          24
26          3         48  ...           29       14.50          27
27          4         54  ...           30       15.00        28.5
28          3         23  ...         29.5       14.75       24.25
29        2.5         39  ...           24       12.00          20
30          1       35.5  ...           26       13.00        26.5
31          0       45.5  ...           26       13.00       20.75
32          7       39.5  ...           28       14.00          23
33          3         41  ...         28.5       14.25       24.75
34          1         43  ...           20       10.00       15.75
35          0         18  ...           27       13.50          27
36        5.5         53  ...           26       13.00       26.25
37          0         20  ...           28       14.00        21.5
38          0       22.5  ...           23       11.50          19
39          2         23  ...           21       10.50          21
40          0         14  ...           26       13.00        24.5
41         10         68  ...           30       15.00       25.75
42        2.5         34  ...           26       13.00       20.75
43          3         28  ...           21       10.50          17
44          7         40  ...           26       13.00          23
45          2         43  ...           21       10.50        16.5
46          8       27.5  ...         27.5       13.75       21.25
47          2         41  ...         24.5       12.25       19.75
48          3         35  ...           24       12.00          21
49        8.5       53.5  ...           22       11.00       20.75
50   4.034884        NaN  ...          NaN         NaN         NaN
51        NaN        NaN  ...          NaN         NaN         NaN
52        NaN        NaN  ...          NaN         NaN         NaN
53        NaN        NaN  ...          NaN         NaN         NaN
54        NaN        NaN  ...          NaN         NaN         NaN
55        NaN        NaN  ...          NaN         NaN         NaN

   Unnamed: 24 Unnamed: 25 Unnamed: 26 Unnamed: 27 Unnamed: 28 Unnamed: 29  \
0          NaN         NaN         NaN         NaN         NaN         NaN
1          NaN         NaN         NaN         NaN         NaN         NaN
2          NaN         NaN         NaN         NaN         NaN         NaN
3        Final         NaN         NaN         NaN         NaN       Total
4         CLO1        CLO2        CLO3         NaN         NaN         NaN
5           Q1          Q2          Q3  Final Term         NaN         NaN
6           20          10          20          50         0.5         100
7           20         8.5          20        48.5        48.5   94.321839
8           18           8        16.5        42.5        42.5   84.329885
9           18          10          18          46        46.0   85.084483
10          20          10          20          50        50.0   98.363218
11          16          10          16          42        42.0   80.308621
12          16          10          16          42        42.0   75.743103
13        15.5          10        15.5          41        41.0   71.814368
14        14.5          10        14.5        39.5        39.5   75.107471
15          19          10        19.5        48.5        48.5   83.854023
16        19.5          10        19.5          49        49.0   86.059195
17          19          10          19          48        48.0   87.468391
18        17.5          10        17.5        45.5        45.5   86.557471
19          19          10          19          49        49.0   92.451724
20        13.5          10          14        37.5        37.5   72.614943
21        14.5          10        14.5          39        39.0   70.910345
22        15.5          10        15.5          41        41.0   76.843103
23        14.5          10        14.5          39        39.0   78.812644
24        12.5          10        12.5          35        35.0   67.993678
25          16          10        16.5        42.5        42.5   81.362069
26        10.5           8        10.5          29        29.0   69.317241
27        17.5          10        17.5          45        45.0   88.106897
28          10          10        11.5        31.5        31.5   66.993678
29        12.5          10          13        35.5        35.5   69.982759
30        16.5          10        16.5          43        43.0    82.58046
31          10           6        10.5        26.5        26.5   62.479885
32        15.5          10        15.5          41        41.0    78.04023
33          12          10          12          34        34.0   73.062644
34        14.5          10        14.5          39        39.0   67.892529
35        19.5          10        19.5          49        49.0   87.968966
36          13          10        14.5        37.5        37.5   78.441954
37          10          10        10.5        30.5        30.5   63.698851
38          15          10          16          41        41.0   70.586207
39        16.5          10        16.5          43        43.0   75.043678
40        19.5          10          20        49.5        49.5   84.809195
41          19          10          19          48        48.0   91.366092
42        17.5          10          18        45.5        45.5   79.958046
43          17          10        16.5        43.5        43.5   72.718391
44        16.5          10        16.5          43        43.0   80.097701
45          12           6        12.5        28.5        28.5   58.342529
46        10.5          10          13        33.5        33.5    67.11092
47          12          10        12.5        34.5        34.5   67.762644
48        16.5          10        16.5          41        41.0   75.222989
49        17.5          10        17.5          45        45.0   80.899425
50         NaN         NaN         NaN          41         NaN         NaN
51         NaN         NaN         NaN         NaN         NaN         NaN
52         NaN         NaN         NaN         NaN         NaN         NaN
53         NaN         NaN         NaN         NaN         NaN         NaN
54         NaN         NaN         NaN         NaN         NaN         NaN
55         NaN         NaN         NaN         NaN         NaN         NaN

    Unnamed: 30
0           NaN
1           NaN
2           NaN
3         Grade
4           NaN
5           NaN
6           NaN
7             A
8            A-
9             A
10            A
11           B+
12            B
13           B-
14            B
15           A-
16            A
17            A
18            A
19            A
20           B-
21           B-
22            B
23           B+
24           C+
25           A-
26           B-
27            A
28           C+
29           B-
30           A-
31            C
32           B+
33            B
34           C+
35            A
36           B+
37            C
38           B-
39            B
40           A-
41            A
42           B+
43           B-
44           B+
45           C-
46           C+
47           C+
48            B
49           B+
50          NaN
51          NaN
52          NaN
53          NaN
54          NaN
55          NaN

[56 rows x 31 columns]

In [12]:
#reading data from csv file
df_csv = pd.read_csv("Datasets /BSCS.csv")
print(df_csv)

  Car Model Color Height(feet)
0            A   B     C     5
1            D   E     F     6
2            G   H     I     5

In [18]:
# selecting data
#selecting columns
print(df['Name']) #selecting the single column
print(df[["Name",'Age']]) #selecting the multiple columns

0       Ali
1    Hassan
2     Imran
3    Danish
Name: Name, dtype: object
     Name  Age
0     Ali   21
1  Hassan   22
2   Imran   21
3  Danish   23

In [24]:
#selecting rows
print(df)
print(df.loc[1]) #selecting the row by label
print(df.iloc[0]) #selecting row by index
print(df[df["Age"]>=22]) #filtered rows

     Name  Age  CGPA
0     Ali   21  3.88
1  Hassan   22  3.87
2   Imran   21  3.89
3  Danish   23  3.90
Name    Hassan
Age         22
CGPA      3.87
Name: 1, dtype: object
Name     Ali
Age       21
CGPA    3.88
Name: 0, dtype: object
     Name  Age  CGPA
1  Hassan   22  3.87
3  Danish   23  3.90

In [30]:
#Exploring data
print(df.shape)#row,cols
print(df.columns)#names of columns
print(df.dtypes) #data types
print(df.info()) #detailed info

#first and last rows
print(df.head())#default first 5 rows will be selected.
print(df.head(3))
print(df.tail(3))#last 3 rows will be selected

print(df.describe()) #statistical summary

(4, 3)
Index(['Name', 'Age', 'CGPA'], dtype='object')
Name     object
Age       int64
CGPA    float64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   CGPA    4 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 228.0+ bytes
None
     Name  Age  CGPA
0     Ali   21  3.88
1  Hassan   22  3.87
2   Imran   21  3.89
3  Danish   23  3.90
     Name  Age  CGPA
0     Ali   21  3.88
1  Hassan   22  3.87
2   Imran   21  3.89
     Name  Age  CGPA
1  Hassan   22  3.87
2   Imran   21  3.89
3  Danish   23  3.90
             Age     CGPA
count   4.000000  4.00000
mean   21.750000  3.88500
std     0.957427  0.01291
min    21.000000  3.87000
25%    21.000000  3.87750
50%    21.500000  3.88500
75%    22.250000  3.89250
max    23.000000  3.90000